---

---

<header class = "w-full fixed top-0 z-10 flex items-center mx-auto">
  <nav class="w-full flex justify-between items-center max-w-6xl mx-auto py-7 px-6">
    <a href="" class = "text-h4 text-white font-semibold">
      CarControl<span class="text-accent">Pro</span>
    </a>
    <div class="flex justify-center items-center gap-10">
      <ul class="flex justify-center items-center gap-x-7 text-white text-base font-medium">
        <li class="cursor-pointer">
          Funciones 
        </li>
        <li class="cursor-pointer">
          Beneficios 
        </li>
        <li class="cursor-pointer">
          Galeria
        </li>
        <li class="cursor-pointer">Precio</li>
      </ul>
      <button class="bg-accent font-medium rounded-lg px-5 py-1.5 hover:-translate-y-0.5 transition-all duration-300 ease-in-out cursor-pointer ">
        Mas Info. 
      </button>
    </div>
  </nav>
  
</header>

